DJANGO_SECRET_KEY=change-this-secret-key
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DATABASE_URL=
DB_NAME=gimnasio
DB_USER=postgres
DB_PASSWORD=change-this-password
DB_HOST=localhost
DB_PORT=5432

CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173

GOOGLE_CLIENT_ID=change-this-google-client-id

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_USE_SSL=False
EMAIL_HOST_USER=change-this-email@example.com
EMAIL_HOST_PASSWORD=change-this-email-password
FRONTEND_URL=http://localhost:5173
LANDING_CONTACT_EMAIL=change-this-email@example.com

RESEND_API_KEY=
RESEND_FROM_EMAIL=onboarding@resend.dev
BREVO_API_KEY=
BREVO_FROM_EMAIL=change-this-email@example.com

DRF_THROTTLE_ANON=30/min
DRF_THROTTLE_USER=120/min

# Produccion en Render
# DJANGO_SETTINGS_MODULE=backend_project.production_settings
# DJANGO_DEBUG=False
# DJANGO_ALLOWED_HOSTS=tu-backend.onrender.com,api.tu-dominio.com
# DATABASE_URL=postgres://...
# MEDIA_ROOT=/opt/render/project/src/backend/media
# FRONTEND_URL=https://tu-dominio.com
# CORS_ALLOWED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com
# CSRF_TRUSTED_ORIGINS=https://tu-dominio.com,https://www.tu-dominio.com
# DRF_THROTTLE_ANON=10000/min
# DRF_THROTTLE_USER=10000/min
